@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'ralewayregular';
    margin: 0;
    padding: 0;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.bold {
    font-family: 'ralewaybold';
}
/*******************************************************/
nav {
    width: 100%;
    background-color: #000;
}
nav a {
    color: #fff;
}
.nav__container {
    max-width: 1050px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*****************************/
.nav__logo {
    word-spacing: 2px;
}
.nav__logo span {
    font-weight: 700;
    color: #1ccfb1;
}
/*****************************/
.nav__menu {
    list-style: none;
    text-align: center;
    margin: 0;
}
.nav__menu:last-child {
    margin-right: -15px;            /* teraz menu przylega do prawej krawędzi .container */
}
.nav__menu__item {
    float: left;
    width: 100px;
    line-height: 3em;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.nav__menu__item:after {
    content: '';
    clear: both;
    display: block;
}
    .nav__submenu {
        list-style: none;
        width: 110px;
        line-height: 2em;
        padding: 0;
        margin: -8px 0 0 0;
        text-align: left;
        position: absolute;
        left: -5px;
        display: none;
    }
    .nav__submenu:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: 10px solid #000;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        margin: 0 auto;
    }
    .nav__submenu__item {
        background-color: #000;
        text-transform: none;
        font-weight: 300;
        padding: 0 15px;
    }
    .nav__submenu__item:first-child {
        padding-top: 5px;
    }
    .nav__submenu__item:last-child {
        padding-bottom: 5px;
    }
/*****************************/
.nav__menu__item:hover > a,
.nav__submenu__item:hover a {
    color: #1ccfb1;
}
    .nav__menu__item:hover .nav__submenu {
        display: block;
    }
/*******************************************************/
header {
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 95%, rgba(222,222,222,1) 99%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(30%, rgba(255,255,255,1)), color-stop(95%, rgba(224,224,224,1)), color-stop(99%, rgba(222,222,222,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 95%, rgba(222,222,222,1) 99%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 95%, rgba(222,222,222,1) 99%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 95%, rgba(222,222,222,1) 99%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 95%, rgba(222,222,222,1) 99%, rgba(222,222,222,1) 100%);
    display: flex;
    align-items: flex-start;
}
.header__container {
    max-width: 1050px;
    height: 337px;              /* wysokość obrazka - czarne krzesło */
    margin: 65px auto 0 auto;
    background-image: url('../images/black_chair.png');
    background-position: -10px 0;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*****************************/
.header__leftArrow a, .header__rightArrow a {
    color: #1ccfb1;
    font-size: 5em;
    font-weight: 100;
}
.header__text {
    width: 40%;
    margin-left: 300px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .header__title {
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 3px;
        font-size: 2.4em;
        margin: 0;
        padding: 0;
    }
    .header__title span {
        font-weight: 700;
        color: #1ccfb1;
    }
    .header__paragr {
        text-align: center;
        line-height: 1.4em;
        font-size: 0.9em;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .header__btn {
        background-color: #1ccfb1;
        border: none;
        border-radius: 10px;
    }
    .header__btn a {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4em;
        padding: 10px 25px;
        display: block;
        font-family: 'ralewayregular';  /* Pomimo stosowania czcionki w wersji Extended, znaki diakrytyczne nadal są źle wyświetlane. */
        letter-spacing: 1px;
    }
/*******************************************************/
#section1 {
    width: 100%;
}
.section1__container {
    max-width: 1050px;
    height: 350px;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#section1__box1,
#section1__box2 {
    width: 329px;
    height: 225px;
    display: flex;
    align-items: flex-end;
}
#section1__box1 {
    background-image: url('../images/box1_img.jpg');
}
#section1__box2 {
    background-image: url('../images/box2_img.jpg');
}
.section1__box__whiteBar {
    width: 100%;
    height: 62px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 13px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}
.section1__box__title {
    width: 100%;
    text-align: left;
    color: #000;
    margin-bottom: 3px;
}
.section1__box__underline {
    width: 138px;
    height: 7px;
    margin-bottom: 24px;
    background-color: #1ccfb1;
}
#section1__box3 {
    width: 329px;
    height: 250px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    padding: 30px 20px;
}
    #section1__box3 .section1__box__underline {
        margin-bottom: 0;
    }
    #section1__box3 p {
        color: #929292;
        font-size: 0.85em;
        line-height: 1.4em;
    }
/*******************************************************/
#section2 {
    width: 100%;
    background-color: #f1f1f1;
}
.section2__container {
    max-width: 1050px;
    height: 725px;
    margin: 0 auto;
    padding-top: 40px;
}
    .section2__title,
    .contact__title {
        font-size: 1.5em;
        color: #565656;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .underlineLong {
        width: 320px;
        height: 8px;
        background-color: #1ccfb1;
    }
/*****************************/
.section2__content {
    box-sizing: border-box;
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
}
#section2__box1, #section2__box3 {
    width: 320px;
    height: 500px;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #section2__box1:before, #section2__box3:before {
        content: '';
        width: 50px;
        height: 50px;
        background-color: #d5d5d5;
        border: 13px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0 0 0 2px #d5d5d5;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-70%);
    }
#section2__box2 {
    width: 320px;
    height: 500px;
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #section2__box2:before {
        content: '';
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 13px solid #27c7ab;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-70%);
    }
/*****************************/
.section2__boxTitleGreen {
    text-transform: uppercase;
    color: #27c7ab;
    text-align: center;
    margin: 30px 0;
}
.section2__boxCircle {
    width: 125px;
    height: 125px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .section2__price {
        color: #c2c2c2;
        font-size: 2.8em;
        font-weight: 900;
    }
    .section2__price sup {
        font-size: 0.4em;
    }
    .section2__currency {
        color: #c2c2c2;
    }
.section2__boxDetails {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
}
    .section2__detail {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }
    .section2__detail:nth-child(2n+1) {
        background-color: #e4e4e4;
        color: #9a9a9a;
    }
    .section2__detail:nth-child(2n+0) {
        background-color: #f1f1f1;
        color: #757575;
    }
.section2__btnGreen {
    background-color: #1ccfb1;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
.section2__btnGreen a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 7px 24px;
    display: block;
}
/*****************************/
.section2__boxTitle {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin: 30px 0;
}
.section2__boxCircleGreen {
    width: 125px;
    height: 125px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .section2__priceGreen {
        color: #27c7ab;
        font-size: 2.8em;
        font-weight: 900;
    }
    .section2__priceGreen sup {
        font-size: 0.4em;
    }
    .section2__currencyGreen {
        color: #27c7ab;
    }
.section2__boxDetailsGreen {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
}
    .section2__detailGreen {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }
    .section2__detailGreen:nth-child(2n+1) {
        background-color: #fff;
        color: #9a9a9a;
    }
    .section2__detailGreen:nth-child(2n+0) {
        background-color: #f1f1f1;
        color: #9a9a9a;
    }
.section2__btn {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
.section2__btn a {
    color: #1ccfb1;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 7px 24px;
    display: block;
}
/*******************************************************/
#contact {
    width: 100%;
}
.contact__container {
    max-width: 1050px;
    height: 485px;
    margin: 0 auto;
    padding-top: 25px;
}
.contactForm {
    display: flex;
}
/*****************************/
form input, textarea {
    width: 635px;
    height: 65px;
    border: 1px solid #1ccfb188;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'ralewayregular';     /* W textarea 'Wiadomość' była napisana inną czcionką. Wpisanie tutaj 'font-family' przywróciło jednolitość. */
    font-size: 2em;
}
    ::-webkit-input-placeholder {   /* Gdy do tych reguł przypisane są 2 selektory (::-webkit..., ::-ms... { ), reguły przestają działać. Dlatego konieczne było przypisanie tych samych reguł do każdego selektora z osobna (do ::web-kit... { i do ::-ms... { ). */
        opacity: .4;
        font-weight: 100;
    }
    ::-ms-input-placeholder {
        opacity: .4;
        font-weight: 100;
    }
    ::-moz-placeholder {
        font-weight: 100;
    }
input:first-child {
    margin-top: 45px;
}
textarea {
    height: 175px;
    resize: none;
    margin-top: 25px;
}
/*****************************/
.contactForm__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 37px 2px 37px;
}
.contactForm__right__dataProcessing {
    display: flex;
}
.contactForm__right__dataProcessing__img {
    box-sizing: border-box;
    border: 1px solid #1ccfb188;
    padding: 7px 4px 0 0;
}
    .contactForm__right__dataProcessing__img img {
        width: 36px;
        height: 30px;
    }
.contactForm__right__dataProcessing__text {
    opacity: .4;
    font-size: 1.2em;
    padding-left: 15px;
}
.contactForm__right__btn {
    width: 340px;
    height: 75px;
    background-color: #1ccfb1;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.contactForm__right__btn a {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    padding: 19px 25px;
    display: block;
}
/*******************************************************/
footer {
    width: 100%;
}
.footer__container {
    max-width: 1050px;
    height: 165px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer__content {
    width: 100%;
    color: #9a9a9a;
    font-weight: bold;
    word-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__socials {
    display: flex;
    align-items: center;
}
    .footer__socials img {
        margin: 0 2px;
    }
    .footer__logo {
        font-size: 1em;
        letter-spacing: 1px;
        margin-left: 60px;
    }
    .footer__logo a {
        color: #9a9a9a;
    }
    .footer__logo span {
        text-shadow: 0 0 1px #9a9a9a;
    }
