:root {
    --accentcolor1: #1ccfb1;
    --accentcolor2: #dadada;
    --bgrcolor1: #000;
    --bgrcolor2: #fff;
    --bgrcolor3: #f1f1f1;
    --bgrcolor4: #f9f9f9;
    --bgrcolor5: #e4e4e4;
    --bordercolor1: #d5d5d5;
    --btnclickshadow: rgba(0, 0, 0, .5);
    --figcaptionoverlay: rgba(255, 255, 255, 0.3);
    --fontcolor1: #fff;
    --fontcolor2: #000;
    --fontcolor3: #929292;
    --fontcolor4: #565656;
    --fontcolor5: #c2c2c2;
    --fontcolor6: #757575;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 1050px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
/***********************************************/
nav {
    width: 100%;
    background: var(--bgrcolor1);
    position: fixed;
    top: 0;
    z-index: 2;
}
nav .container {
    font-size: 0.94rem;
    color: var(--fontcolor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/**********************/
.nav__logo {
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 4px;
}
.nav__logo span {
    font-weight: 900;
    color: var(--accentcolor1);
}
.nav__menu {
    display: flex;
}
.nav__menu__item {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.nav__menu__link {
    display: block;
    padding: 17px 25px;
}
    .nav__menu__item:last-child .nav__menu__link {
        padding-right: 0;
    }
    .nav__menu__item:hover {
        color: var(--accentcolor1);
        transition: 0.2s;
    }
    .nav__menu__item:first-child {
        display: flex;
        justify-content: center;
    }
.nav__submenu {
    width: 110%;
    font-weight: 600;
    text-transform: none;
    color: var(--fontcolor1);
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: -117px;
}
    .nav__submenu::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: 10px solid var(--bgrcolor1);
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        margin: 0 auto;
    }
    .nav__menu__item:first-child:hover .nav__submenu {
        display: flex;
    }
.nav__submenu__item {
    background: var(--bgrcolor1);
    text-align: center;
}
.nav__submenu__link {
    display: block;
    padding: 7px 0;
}
    .nav__submenu__item:first-child .nav__submenu__link {
        padding-top: 15px;
    }
    .nav__submenu__item:last-child .nav__submenu__link {
        padding-bottom: 15px;
    }
    .nav__submenu__item:hover {
        color: var(--accentcolor1);
        transition: 0.2s;
    }
/***********************************************/
header {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 95%, rgba(222,222,222,1) 99%, rgba(222,222,222,1) 100%);
}
/**********************/
.header__content {
    padding-top: 110px;
    display: flex;
    align-items: center;
    position: relative;
}
.header__img {
    width: 615px;
    transform: translateX(-55px);
}
.header__text-block {
    width: 425px;
    color: var(--fontcolor2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 48%;
    transform: translateY(-25px);
}
.header__text-block__title {
    font-size: 2.4em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 25px;
}
.header__text-block__title span {
    font-weight: 700;
    color: var(--accentcolor1);
}
.header__text-block__text {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4rem;
    margin-bottom: 25px;
}
.header__text-block__button {
    display: block;
    background: var(--accentcolor1);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--fontcolor1);
    letter-spacing: 1px;
    border: 2px solid transparent;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 15px 35px;
}
    .header__text-block__button:hover {
        background: var(--bgrcolor2);
        color: var(--accentcolor1);
        border: 2px solid var(--accentcolor1);
        transition: 0.2s;
    }
    .header__text-block__button:active {
        background: var(--bgrcolor2);
        color: var(--accentcolor1);
        border: 2px solid var(--accentcolor1);
        box-shadow: inset 0 0 5px 3px var(--btnclickshadow);
    }
.header__arrows-block {
    width: 100%;
    font-size: 5rem;
    font-weight: 300;
    color: var(--accentcolor1);
    position: absolute;
    display: flex;
    justify-content: space-between;
}
/***********************************************/
section {
    width: 100%;
    background: var(--bgrcolor2);
}
section .container {
    color: var(--fontcolor2);
}
.gallery__content {
    min-height: 350px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/**********************/
.gallery__figure a {
    display: block;
    position: relative;
}
.gallery__figure__caption {
    width: 100%;
    font-weight: 700;
    background: var(--figcaptionoverlay);
    padding: 16px 0 24px 13px;
    position: absolute;
    bottom: 15px;
}
    .gallery__figure__caption::after,
    .gallery__description__title::after {
        content: '';
        display: block;
        width: 138px;
        height: 7px;
        background: var(--accentcolor1);
        margin-top: 3px;
    }
.gallery__description {
    width: 329px;
    border: 1px solid var(--accentcolor2);
    padding: 30px 20px;
}
.gallery__description__title {
    font-weight: 700;
}
.gallery__description__text {
    font-size: 0.85rem;
    line-height: 1.4rem;
    color: var(--fontcolor3);
    margin-top: 16px;
}
/***********************************************/
.price-list {
    width: 100%;
    background: var(--bgrcolor3);
}
.price-list .container {
    padding-top: 50px;
    padding-bottom: 65px;
}
/**********************/
.price-list__header {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--fontcolor4);
    text-transform: uppercase;
    margin-bottom: 75px;
}
    .price-list__header::after {
        content: '';
        display: block;
        width: 320px;
        height: 8px;
        background: var(--accentcolor1);
        margin-top: 10px;
    }
.price-list__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-block,
.price-block--b {
    width: 320px;
    height: 500px;
    background: var(--bgrcolor4);
    border: 2px solid var(--bordercolor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.price-block--b {
    background: var(--accentcolor1);
    border: 2px solid var(--accentcolor1);
}
    .price-block::before,
    .price-block--b::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: var(--bordercolor1);
        border: 15px solid var(--bgrcolor2);
        border-radius: 50%;
        box-shadow: 0 0 0 2px var(--bordercolor1);
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-70%);
    }
    .price-block--b::before {
        background: var(--bgrcolor2);
        border: 15px solid var(--accentcolor1);
        box-shadow: 0 0 0 2px var(--accentcolor1);
    }
.price-block__title,
.price-block--b__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accentcolor1);
    text-transform: uppercase;
    margin: 30px 0;
}
.price-block--b__title {
    color: var(--fontcolor1);
}
.price-block__value-block,
.price-block--b__value-block {
    width: 125px;
    height: 125px;
    border: 2px solid var(--bordercolor1);
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price-block--b__value-block {
    background: var(--bgrcolor2);
    border: 2px solid var(--accentcolor1);
}
.price-block__value-block__price,
.price-block--b__value-block__price {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--fontcolor5);
}
.price-block__value-block__price span,
.price-block--b__value-block__price span {
    font-size: 1.1rem;
    vertical-align: super;
}
.price-block__value-block__currency,
.price-block--b__value-block__currency {
    font-size: 1rem;
    font-weight: 700;
    color: var(--fontcolor5);
    text-transform: uppercase;
    margin-top: 10px;
}
.price-block--b__value-block__price,
.price-block--b__value-block__currency {
    color: var(--accentcolor1);
}
.price-block__details-block {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}
.price-block__details-block__detail,
.price-block--b__details-block__detail {
    height: 45px;
    font-size: 1.4rem;
    color: var(--fontcolor6);
    background: var(--bgrcolor5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-block--b__details-block__detail {
    background: var(--bgrcolor2);
}
    .price-block__details-block__detail:nth-child(2n),
    .price-block--b__details-block__detail:nth-child(2n) {
        background: var(--bgrcolor3);
    }
.price-block__button,
.price-block--b__button {
    display: block;
    font-weight: 500;
    color: var(--fontcolor1);
    background: var(--accentcolor1);
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 8px 30px;
}
.price-block--b__button {
    color: var(--accentcolor1);
    background: var(--bgrcolor2);
}
    .price-block__button:hover {
        color: var(--accentcolor1);
        background: var(--bgrcolor2);
        border: 2px solid var(--accentcolor1);
        transition: 0.2s;
    }
    .price-block--b__button:hover {
        color: var(--fontcolor1);
        background: var(--accentcolor1);
        border: 2px solid var(--fontcolor1);
        transition: 0.2s;
    }
    .price-block__button:active {
        color: var(--accentcolor1);
        background: var(--bgrcolor2);
        border: 2px solid var(--accentcolor1);
        box-shadow: inset 0 0 5px 3px var(--btnclickshadow);
    }
    .price-block--b__button:active {
        color: var(--fontcolor1);
        background: var(--accentcolor1);
        border: 2px solid var(--fontcolor1);
        box-shadow: inset 0 0 5px 3px var(--btnclickshadow);
    }
/***********************************************/
